* {
	margin: 0;
	padding: 0;
}
body {
	background: #fff;
	color: #000;
	font: 14px/17px "Trebuchet MS", Helvetica, sans-serif;
	min-width: 768px;
}
img { border-style: none; }
#wrapper {
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	max-width: 1390px;
}
.gallery-holder { padding: 40px 20px; }
.gallery-frame {
	margin: 0 0 20px;
	overflow: hidden;
	position: relative;
}
.placeholder {
	display: block;
	width: 100%;
}
.gallery {
	height: 100%;
	left: 0;
	letter-spacing: -.3em;
	list-style: none;
	position: absolute;
	top: 0;
	white-space: nowrap;
	width: 100%;
}
.slide {
	display: inline-block;
	height: 100%;
	letter-spacing: 0;
	position: relative;
	white-space: normal;
	width: 100%;
}
.slide:after {
	content: '';
	height: 100%;
	position: absolute;
	right: -5%;
	top: 0;
	width: 10%;
	z-index: 1;
}
.slide03:after { display: none; }
.slide01:after {
	background: #eecf3f;
	background: -moz-linear-gradient(left,  #eecf3f 0%, #6ab72c 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eecf3f), color-stop(100%,#6ab72c));
	background: -webkit-linear-gradient(left,  #eecf3f 0%,#6ab72c 100%);
	background: -o-linear-gradient(left,  #eecf3f 0%,#6ab72c 100%);
	background: -ms-linear-gradient(left,  #eecf3f 0%,#6ab72c 100%);
	background: linear-gradient(to right,  #eecf3f 0%,#6ab72c 100%);
}
.slide02:after {
	background: #6ab72c;
	background: -moz-linear-gradient(left,  #6ab72c 0%, #ee5e39 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6ab72c), color-stop(100%,#ee5e39));
	background: -webkit-linear-gradient(left,  #6ab72c 0%,#ee5e39 100%);
	background: -o-linear-gradient(left,  #6ab72c 0%,#ee5e39 100%);
	background: -ms-linear-gradient(left,  #6ab72c 0%,#ee5e39 100%);
	background: linear-gradient(to right,  #6ab72c 0%,#ee5e39 100%);
}
.slide01 { background: #eecf3f; }
.slide02 { background: #6ab72c; }
.slide03 { background: #ee5e39; }
.visual {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0.3) 0%,rgba(255,255,255,0) 100%);
	height: 100%;
	padding: 20px;
	position: relative;
	text-align: center;
	z-index: 10;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.visual:after {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	width: 1px;
}
.visual img {
	max-height: 100%;
	max-width: 100%;
	position: relative;
	vertical-align: middle;
	z-index: 30;
}
.parallax-elements {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.parallax-elements:before {
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.12) 30%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.12) 70%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(30%,rgba(255,255,255,0.12)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(70%,rgba(255,255,255,0.12)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.12) 30%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.12) 70%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.12) 30%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.12) 70%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.12) 30%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.12) 70%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.12) 30%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.12) 70%,rgba(255,255,255,0) 100%);
	content: '';
	height: 100%;
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
}
.controls a {
	border: 1px solid #3fb2ee;
	border-radius: 5px;
	color: #3fb2ee;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	vertical-align: top;
}
.controls .active a,
.controls a:hover,
.controls a.active {
	background: #3fb2ee;
	color: #fff;
}
.pagination {
	display: inline-block;
	list-style: none;
	vertical-align: top;
}
.pagination li {
	display: inline-block;
	vertical-align: top;
}
.pagination a {
	text-align: center;
	width: 14px;
}